on: [push, pull_request]
name: Test
jobs:
    build:
        strategy:
            matrix:
                go-version: [1.13.x]
                platform: [ubuntu-latest, macos-latest, ubuntu-16.04]
        runs-on: ${{ matrix.platform }}
        steps:
            - name: Install Go
              uses: actions/setup-go@v1
              with:
                  go-version: ${{ matrix.go-version }}
            - name: Checkout code
              uses: actions/checkout@v1
            - name: build
              run: go build -o /go/bin/autocache cmd/autocache/main.go
            - name: upload artifacts
              uses: actions/upload-artifact@master
              with:
                  name: binaries
                  path: bin/
